body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e8d9;
    text-align: center;
}

header {
    background-color: #8B4513;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 15px;
    background-color: #d2691e;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-color: #ffcc99;
    padding: 30px;
}

.destaques {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffcc99;
}

.produto {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #8B4513;
    color: white;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

h1 {
    font-family: Playfair display;
    color: #fecf89;
}

h2 {
    font-family: Merryweather ;
    color: #9b4922;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu ul{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #9b4922;
}

.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 100%;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }